hr {
  border-color: #78b4cc;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
i {
  margin-right: 3px;
}
a {
  color: #739EB0;
}
a:focus {
  color: #739EB0;
}
a:hover {
  color: #6393a7 !important;
}
h3 {
  font-size: 1.4em;
  padding-top: 15px;
}
div.menu {
  border: 1px solid black;
  display: none;
  margin: 0px;
  width: 80px;
}
div.passLayer {
  background: none;
  background-image: url(err);
  border: 1px solid black;
  color: #000000;
  display: none;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}
div.menu_child {
  border: none;
  display: none;
  margin: 0px;
  padding: 0px 0px;
  position: absolute;
}
a.menu_Item {
  background: #FBFBFB;
  border: 1px solid black;
  border-bottom: none;
  color: #6C6C6C;
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  padding: 2px 6px;
  text-decoration: none;
  width: 85px;
}
a.menu_Item_wide {
  background: #FBFBFB;
  border: 1px solid black;
  border-bottom: none;
  color: #6C6C6C;
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  padding: 2px 6px;
  text-decoration: none;
  width: 100%;
}
