.label-new {
  font-size: 9px !important;
}
.label-processing {
  font-size: 10px !important;
}
.label-warning {
  background-color: #F2DEDE !important;
  color: #cc7763;
  padding: 3px !important;
  font-style: italic;
}
.label-success {
  background-color: #DFF0D8 !important;
  color: #3c763d !important;
  padding: 3px !important;
  font-style: italic;
  font-size: 10px !important;
}
.panel {
  border-radius: 1px;
  background-color: #f0f6fa;
}
.panel-quiz-heading {
  background-color: #EBEBEB !important;
  border-color: #d3d3d3 !important;
}
.panel-tut-heading {
  background-color: #EBEBEB !important;
  border-color: #d3d3d3!important;
  padding-bottom: 7px !important;
}
.panel-quiz {
  border-color: #d3d3d3 !important;
  margin-top: 10px !important;
  background-color: #F9F9F9;
}
.jumbotron {
  background-color: #EBEBEB;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 0px !important;
}
