@import "myconstants.css";
/**********************
IMPORTS
***********************/
hr {
  border-color: #78b4cc;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
i {
  margin-right: 3px;
}
a {
  color: #739EB0;
}
a:focus {
  color: #739EB0;
}
a:hover {
  color: #6393a7 !important;
}
h3 {
  font-size: 1.4em;
  padding-top: 15px;
}
div.menu {
  border: 1px solid black;
  display: none;
  margin: 0px;
  width: 80px;
}
div.passLayer {
  background: none;
  background-image: url(err);
  border: 1px solid black;
  color: #000000;
  display: none;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}
div.menu_child {
  border: none;
  display: none;
  margin: 0px;
  padding: 0px 0px;
  position: absolute;
}
a.menu_Item {
  background: #FBFBFB;
  border: 1px solid black;
  border-bottom: none;
  color: #6C6C6C;
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  padding: 2px 6px;
  text-decoration: none;
  width: 85px;
}
a.menu_Item_wide {
  background: #FBFBFB;
  border: 1px solid black;
  border-bottom: none;
  color: #6C6C6C;
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  padding: 2px 6px;
  text-decoration: none;
  width: 100%;
}
li.list-group-item.active:focus {
  background-color: #6393a7 !important;
  border-color: #6393a7 !important;
}
li.list-group-item.active {
  background-color: #6393a7 !important;
  border-color: #6393a7 !important;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
li.list-group-item.active a:focus {
  color: white;
}
li.list-group-item.active a {
  color: white;
}
.list-group-item:first-child {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.label-new {
  font-size: 9px !important;
}
.label-processing {
  font-size: 10px !important;
}
.label-warning {
  background-color: #F2DEDE !important;
  color: #cc7763;
  padding: 3px !important;
  font-style: italic;
}
.label-success {
  background-color: #DFF0D8 !important;
  color: #3c763d !important;
  padding: 3px !important;
  font-style: italic;
  font-size: 10px !important;
}
.panel {
  border-radius: 1px;
  background-color: #f0f6fa;
}
.panel-quiz-heading {
  background-color: #EBEBEB !important;
  border-color: #d3d3d3 !important;
}
.panel-tut-heading {
  background-color: #EBEBEB !important;
  border-color: #d3d3d3!important;
  padding-bottom: 7px !important;
}
.panel-quiz {
  border-color: #d3d3d3 !important;
  margin-top: 10px !important;
  background-color: #F9F9F9;
}
.jumbotron {
  background-color: #EBEBEB;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 0px !important;
}
.navbar {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
}
.navbar-brand {
  color: #DCDCDC !important;
  font-size: 28px !important;
}
.navStickk {
  text-shadow: #96cee6 0px 1px 0px;
}
.navbar-mc {
  background-color: rgba(150, 222, 253, 0.17) !important;
}
.navbar-right {
  color: #f0f6fa !important;
  font-size: 16px !important;
  padding-right: 20px !important;
}
.navbar-inverse {
  background-color: #2c5261 !important;
  border-color: #2c5261 !important;
}
.mc {
  padding-left: 15px;
}
.h1-mc {
  color: #555555;
  margin-top: 10px;
}
.font-contract {
  color: #fdfdfd !important;
}
.contract {
  font-family: "Josefin Sans" !important;
  font-size: 16px;
  padding: 7px !important;
}
.my-repeat-animation.ng-enter,
.my-repeat-animation.ng-leave,
.my-repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
}
.my-repeat-animation.ng-enter {
  left: -10px;
  opacity: 0;
}
.my-repeat-animation.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  /* in case the stagger doesn't work then these two values
must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.my-repeat-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.my-repeat-animation.ng-leave {
  left: 0;
  opacity: 1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
  left: -10px;
  opacity: 0;
}
.my-repeat-animation.ng-move {
  opacity: 0.5;
}
.my-repeat-animation.ng-move.ng-move-active {
  opacity: 1;
}
.sample-show-hide.ng-hide-add,
.sample-show-hide.ng-hide-remove {
  -webkit-transition: all linear 2s;
  -moz-transition: all linear 2s;
  -o-transition: all linear 2s;
  transition: all linear 2s;
  display: block!important;
}
.sample-show-hide.ng-hide-add.ng-hide-add-active,
.sample-show-hide.ng-hide-remove {
  opacity: 0;
}
.sample-show-hide.ng-hide-add,
.sample-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.btn-primary {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #6393a7;
  border-color: #6393a7;
  font-size: 11px;
}
.btn-primary:focus {
  background-color: #cc7763;
  border-color: #cc7763;
}
.btn-primary:hover {
  background-color: #cc7763;
  border-color: #cc7763;
}
.btn-custom {
  margin-top: 5px;
}
/**********************
 =Content
***********************/
body {
  background-color: rgba(150, 222, 253, 0.05);
  color: #555555 !important;
  font-family: "Open Sans", "Helvetica Neue" 'Helvetica​' 'Arial' sans-serif;
  line-height: 24px !important;
}
.content-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
}
.main-content-wrapper {
  font-size: 1.1em;
  color: #555555;
  line-height: 20px;
}
/**********************
 =Tutorials
***********************/
.aWebStorm {
  font-size: 18px;
  color: #555555;
}
.tutDate {
  color: #595959 !important;
  margin-bottom: 1px !important;
  font-size: 14px;
  padding-bottom: 5px;
}
.pTut {
  margin-bottom: 0px;
}
.aTut {
  font-size: .9em;
  color: #cc7763;
  text-decoration: underline;
}
.title-tut {
  font-size: 20px !important;
  padding-top: 10px;
  color: #4d6a83 !important;
}
.tutFont {
  line-height: 1.5em;
}
.tutDay {
  font-size: lem;
  font-weight: 500;
}
.alert-tutorial {
  margin-top: 20px !important;
  padding: 6px !important;
}
/**********************
 =Shortcuts
***********************/
.aShortcuts {
  font-size: .9em;
}
.liShortcuts {
  margin-bottom: 3px;
}
.aDefault {
  color: #5c5c5c;
}
.title-quiz {
  color: #4d6a83 !important;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.title-shortcuts {
  font-size: 20px !important;
  padding-top: 10px;
  color: #4d6a83 !important;
  margin-bottom: 10px;
}
/**********************
 =Camera
***********************/
.camImg {
  border: 1px solid;
}
/**********************
 =Watchers
***********************/
.thumbnail-watchers {
  margin-bottom: 1px;
}
.ourWatchersPanel {
  padding-top: 20px !important;
  padding-bottom: 10px;
  background-color: #6393a7;
}
.aWatchers {
  font-size: 1.2em;
}
.ol-tuts {
  padding-left: 25px !important;
}
/**********************
 =Scrum
***********************/
.scrumHeaderFont {
  font-size: 1.3em;
  line-height: 1.9em;
}
.scrumVideos {
  font-size: 12px !important;
  color: #cc7763;
  cursor: pointer !important;
}
.sprint {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #555555;
}
.text-muted-scrum {
  font-size: 1.1em;
  color: #6393a7 !important;
}
.sprint:hover {
  text-decoration: underline !important;
  color: #cc7763;
}
.aScrum {
  font-size: .9em;
  text-decoration: underline;
}
.moreModal:hover {
  background-color: #EBEBEB !important;
}
.moreModal {
  background-color: #f8f8f8 !important;
}
/**********************
 =Our Projects
***********************/
.h2Sniffster {
  font-size: 26px !important;
  margin-top: 1px !important;
}
.h2Current {
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}
.project-wrapper {
  font-size: 1.1em;
  line-height: 23px;
}
/**********************
 =Dashboard
***********************/
.bodymed {
  padding: 5px !important;
  margin-bottom: 0px !important;
}
.panelDashboard {
  background-color: #6393a7;
  padding: 15px !important;
}
.wellDashboard {
  background-color: #739EB0;
  padding: 15px !important;
}
.h3Dashboard {
  color: #fdfdfd;
  margin-bottom: 0px !important;
  margin-top: 5px !important;
}
.myWeight {
  color: #fdfdfd;
  font-size: 1.2em;
}
/**********************
 =Sidebar
***********************/
.sidebar-content {
  padding-top: 30px;
}
.img-wrapper {
  margin-bottom: 10px;
}
/**********************
 =Misc
***********************/
.font-white {
  color: #fdfdfd;
}
.text-gray {
  color: #555555;
}
.text-dark {
  color: #494949;
  text-decoration: underline;
}
.text-header {
  font-size: 1.1em;
}
.itemNew {
  color: #cc7763;
}
.bs-example-tabs {
  min-height: 198px;
}
.modal-sm {
  width: 300px !important;
}
.ulM {
  margin-bottom: 30px !important;
  margin-top: 10px !important;
}
.webEssentials {
  color: #cc7763;
  font-weight: 500 !important;
  font-size: 13px;
}
.visualStudio {
  color: #4d6a83;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #FAFAFA !important;
}
.copyright {
  margin-bottom: 15px !important;
}
footer {
  background-color: #3F3F3F;
  color: white !important;
}
