<h4 class="panel-title title-tut ">
	<i class="fa fa-group"></i>
	<span class="tutDay">
		DAILY SCRUM MEETING
	</span>
                        <span>
                            <a class="sprint title-quiz" target="_blank"
                               href="https://svitlanashepitsena.visualstudio.com/DefaultCollection/Sniffsters/_backlogs/taskboard#_a=requirements">
	                            Sprint
	                            7
                            </a>
                        </span>
</h4>
<h5 class="tutDate">
	<i class="fa fa-clock-o"></i>
	8:30 AM
</h5>
<ul class="list-inline">
	<li>
		<a class="aDefault aScrum" target="_blank"
		   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/May%20Daily%20Scrum/media/974531fe-0b70-4248-928d-e2c11572d7ec">
			Daily
			Scrum May 29
		</a>
	</li>
	<li>
		<a class="scrumVideos webEssentials" data-toggle="modal" data-target=".bs-example-modal-sm">
			More Scrum Videos&raquo;
		</a>

		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
		     aria-labelledby="myModalLabelScrum"
		     aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
						        aria-hidden="true">&times;</button>

						<h4 class="modal-title scrumHeaderFont" id="myModalLabelScrum">
							Scrum Methodology.<br/><span
								class="text-muted text-muted-scrum">Daily Scrum Meetings</span>
						</h4>
					</div>
					<div class="modal-body">

						<div ng-include=" 'views/scrumVideos.html' "></div>

					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
<br/>
<h5 class="panel-title title-quiz"><i class="fa fa-bell"></i> VISUAL STUDIO SHORTCUTS QUIZ</h5>

<p>
	<strong>Winner:</strong> Svitlana(10/10)
</p>