<div class="panel wellDashboard">
	<h3 class="h3Dashboard">Dashboard (Andriy)</h3>
	<hr/>
	<ul class="media-list">
		<li class="media">
			<a class="pull-left" target="_blank" href="http://activitymanager.bodymedia.com/balance/tab.do">
				<img class="img-responsive" src="img/bodymedia.png" alt="Bodymedia Fit."/>
			</a>
		</li>

		<li class="media">
			<ul class="list-inline">
				<li class="myWeight">
					My Weight:<strong>
					186.0 lbs
				</strong>
				</li>
				<li class="myWeight">
					My Goal:<strong>
					180.0lbs
				</strong>
				</li>
			</ul>
		</li>
		<li class="media">
			<a class="pull-left" target="_blank" href="http://news.xbox.com/xbox-one">
				<img class="img-responsive" src="/img/XboxOne-horizontal.png" alt=""/>
			</a>
		</li>
	</ul>
	<div class="row">
		<a class="col-lg-4" target="_blank" href="https://www.ksrchampionship.com/">
			<img class="img-responsive " src="/img/championship.png" alt=""/>
		</a>
		<a class="col-lg-8" target="_blank"
		   href="http://www.xbox.com/en-US/xbox-one/games/kinect-sports-rivals">
			<img class="img-responsive" src="/img/xbox-rivals.jpg" alt=""/>
		</a>
	</div>
	<br/>

	<div class="row">
		<a class="col-lg-8 col-lg-offset-2" target="_blank"
		   href="http://fighter-within.ubi.com/fighter-within/en-US/home/">
			<img class="img-responsive" src="/img/fighter-within.png" alt=""/>
		</a>
	</div>

</div>