<div class="bs-example bs-example-tabs">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active">
			<a data-toggle="tab" href="#home">Our Current Project</a>
		</li>
		<li class="">
			<a data-toggle="tab" href="#profile">Our Projects</a>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div id="home" class="tab-pane fade active in">
			<ul class="media-list ulM">
				<li class="media">
					<a class="pull-left text-dark" target="_blank"
					   href="http://sniffsters.azurewebsites.net/">
						<img src="img/Sniffsters-Logo.jpg"
						     alt="Sniffsters"/>
					</a>

					<div class="media-body">
						<h2 class="h2Sniffster">
							<a class="text-dark" target="_blank"
							   href="http://sniffsters.azurewebsites.net/">Sniffsters.com</a>
						</h2>

						<p>
							Sniffsters.com is a business oriented social networking site that features
							dog breeders and allows them to use this platform to display information
							about their business (available and previous litters etc) and replace the
							need for them in the future to have their own site.
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div id="profile" class="tab-pane fade">
			<ul class="media-list ulM">
				<li class="media">
					<a class="pull-left text-dark" target="_blank"
					   href="http://sniffsters.azurewebsites.net/">
						<img src="img/REMAX1Logo.png"
						     alt="Remax 1st Class"/>
					</a>

					<div class="media-body">
						<h2 class="h2Sniffster">
							<a class="text-dark" target="_blank"
							   href="http://www.remax1stclass.com/">Remax1stclass.com</a>
						</h2>

						<p>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div id="dropdown1" class="tab-pane fade">
			<p>
				Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic
				lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork
				tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
				DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
				mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.
				Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown.
				Pitchfork sustainable tofu synth chambray yr.
			</p>
		</div>
		<div id="dropdown2" class="tab-pane fade">
			<p>
				Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out
				master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan
				DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY
				salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
				Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf
				salvia freegan, sartorial keffiyeh echo park vegan.
			</p>
		</div>
	</div>
</div>