<ul class="list-unstyled tutFont">
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/May%20Daily%20Scrum/media/8d324de5-50ad-4c76-aa15-089736769721">
		Daily
		Scrum May 16
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Camtasia%20Studio/media/38ca5940-5a29-4842-90e3-35c5af6505eb">
		Daily
		Scrum May 15
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/May%20Daily%20Scrum/media/1a48533f-5168-4283-9380-e56fb22b1c32">
		Daily
		Scrum May 14
	</a>
</li>
<li class="">
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/May%20Daily%20Scrum/media/5e162fab-bfe5-4f3e-94bd-2c9dd8ed7da1">
		Daily
		Scrum May 13
	</a>
</li>
<li class="">
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/May%20Daily%20Scrum/media/f07949e0-e691-44d4-9e71-ee8469277ffd">
		Daily
		Scrum May 7
	</a>
</li>
<li class="">
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/May%20Daily%20Scrum/media/c8a6e9b0-1724-4e9e-a80b-fe4d7bb48a93">
		Daily
		Scrum May 6
	</a>
</li>
<li class="">
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/95b45bd1-7754-4330-a8a9-841905fc8c4e">
		Daily
		Scrum April 28
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/c60a288e-4b97-4c3e-ace6-96c4ecdcb2b5">
		Daily
		Scrum April 25
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/75c4df28-7e76-4441-9136-4d0f8bb98645">
		Final
		Scrum April 22
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/9b4ef465-c514-47e6-9442-723b08b21b9d">
		April
		21
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/643281cb-0539-4b5e-9f4b-36e4ab8901ec">
		April
		14
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/5783dbbe-0eb5-48be-9e89-7365555d6553">
		April
		11
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/147d9e21-3e20-4103-a3f2-eff7ff016757">
		April
		10
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/df54b56f-4ded-4bcb-96d6-84fa967afb6d">
		April
		9
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/56179115-b7c3-46a5-b304-c5b20da43435">
		April
		8
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/811dbf60-07fc-430b-a212-a5ebe2ae2feb">
		April
		4
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/April%20Daily%20Scrum/media/81e680cf-993b-459d-8aaf-0a878c275884">
		April
		1
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20March%202014/media/5c5ea1cd-85cb-47f1-a7d8-93987b06ea1b">
		March
		31
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20March%202014/media/2226ed13-1f7e-4e84-9470-6cfafcab053a">
		March
		21
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20March%202014/media/22b1e913-02a3-4b6c-9097-18081250e770">
		March
		16
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20March%202014/media/6e978f89-5750-46d3-b307-32102918e236">
		March
		13
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20March%202014/media/5efaa621-70b4-48af-9b94-94283ec16f50">
		March
		12
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20March%202014/media/bbcc529b-9e89-46a9-be5f-be0c638ab841">
		March
		11
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20March%202014/media/8dc55f47-5ee5-47a2-9c59-91e0c3345971">
		March
		10
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20March%202014/media/a51ec442-b17f-44f5-aa82-c9b0d64f70fe">
		March
		5
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20March%202014/media/c92a2b77-cf17-4584-8efe-516ce4e03837">
		March
		3
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/5b8afc87-85c5-4064-a7dd-1a35e994ac19">
		February
		28
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/227ea499-1253-4c81-9742-537c76fa1154">
		February
		26
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/1638151f-ffc2-4d65-a392-894a906954c2">
		February
		25
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/b093e777-8b5e-4b6d-8126-4f955e3a0385">
		February
		23
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/80bd63af-7b19-4105-948f-fa4e91c94811">
		February
		20
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/5529c2a5-db40-4a64-b946-a9c3789a5673">
		February
		19
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/3ed28265-a4f4-4207-800f-c4939601946c">
		February
		18
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/c40889e0-643a-4306-810d-2d40e41ce88e">
		February
		17
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/7d98c677-e38d-45ef-acf6-8373b8037b70">
		February
		11
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/d4f0c412-8d51-44d8-9848-6f8918c4bcef">
		February
		10
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/3d2302a7-626a-4e4d-975b-78bebdcc0379">
		February
		9
	</a>
</li>
<li>
	<a class="visualStudio" target="_blankj"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/18c0c825-4155-402a-9a51-aeaa241aa18e">
		February
		7
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20Meeting/media/1f2d160d-41cc-42ff-82a8-6d621b2a47b3">
		February
		6
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Feb%20Daily%20Scrum/media/d5f8fb51-1fd6-4e39-843f-fea71b5d655f">
		February
		5
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20Meeting/media/5e234dc5-9ac5-444e-8366-bb462394b90d">
		January
		22
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20Meeting/media/62348826-8c56-4e12-a9cb-4b326fa3b867">
		January
		21
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20Meeting/media/afc75006-1c7b-463f-8e42-e8770eec0fe1">
		January
		20
	</a>
</li>
<li>
	<a class="visualStudio" target="_blank"
	   href="http://www.screencast.com/users/SvitlanaShepitsena/folders/Daily%20Scrum%20Meeting/media/fdbea0cc-6eae-48cf-b78b-c453dd1c0f51">
		January
		15
	</a>
</li>
</ul>