<h4 class="panel-title title-shortcuts">
	<i class="fa fa-paperclip"></i>
	<a class="" target="_blank" href="https://plus.google.com/u/0/photos/+SvitlanaShepitsenaTemplates/albums">
		USEFUL TIPS AND SHORTCUTS
	</a>
</h4>
<ul class="list-unstyled tutFont">

	<li class="liShortcuts">
		<a class="" href="/files/quiz.htm" target="_blank"><img src="/files/File-Types-HTM-icon.png"
		                                                            alt=""/></a>
		<a class="aShortcuts itemNew" target="_blank"
		   href="https://plus.google.com/photos/112124811760005447903/albums/6010671621582123921">
			Web Storm Remapped Shortcuts
		</a>
		<a href="http://73.50.72.53:8081/settings.jar">
			<i class="fa fa-save"></i>
		</a>

	</li>
	<li class="liShortcuts">
		<a class="" href="/files/WebStorm.htm" target="_blank"><img src="/files/File-Types-HTM-icon.png"
		                                                            alt=""/></a>
		<a class="aShortcuts" target="_blank"
		   href="https://plus.google.com/u/0/photos/112124811760005447903/albums/5978649980730155137">
			Visual
			Studio Remapped Shortcuts
		</a>
	</li>

	<li class="liShortcuts">
		<a class="" href="/files/Templates.htm" target="_blank">
			<img src="/files/File-Types-HTM-icon.png"
			     alt="Gene_Kelly"/>
		</a>
		<a class="aShortcuts" target="_blank"
		   href="https://plus.google.com/u/0/photos/112124811760005447903/albums/5960054638482238961">
			Visual Studio C# Templates
		</a>
<!--		<a href="../files/ResharperSettings.rar" target="_blank">
			<i class="fa fa-save"></i>
		</a>-->

	</li>
	<li class="liShortcuts">
		<a class="" href="/files/TS.htm" target="_blank">
			<img src="/files/File-Types-HTM-icon.png"
			     alt="Gene_Kelly"/>
		</a>
		<a class="aShortcuts" target="_blank"
		   href="https://plus.google.com/photos/112124811760005447903/albums/5999020845647697601">
			Visual Studio
			TypeScript (JS) Templates </a>
	</li>
</ul>
