<h4 class="panel-title title-tut ">
	<i class="fa fa-camera-retro"></i>
	OUR WATCHERS
</h4>
<br/>
<ul class="list-inline">

	<li>
		<a href="https://www.facebook.com/oksana.slobozhaniuk" class="thumbnail thumbnail-watchers ">
			<img class="img-responsive" src="img/Oksana.jpg" alt="...">
		</a>
		<h4 class="text-center">Oksana</h4>
	</li>

	<li>
		<a href="https://www.facebook.com/tatyana.merseburg" class="thumbnail thumbnail-watchers ">
			<img class="img-responsive" src="img/Tanya.jpg" alt="...">
		</a>
		<h4 class="text-center">Tatyana</h4>
	</li>
</ul>
